/ {
	chosen {
		zephyr,console = &uart0;
	};
	aliases {
		led-alive = &led_gpio015;
		btn-key = &btn_gpio106;
 		hid-kbd = &hid_kbd0;
	};
	leds {
		compatible = "gpio-leds";
		led_gpio015: led_gpio015 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
	};
	buttons {
		compatible = "gpio-keys";
		btn_gpio106: btn_gpio106 {
			zephyr,code = <INPUT_KEY_0>;
			gpios = <&gpio1 06 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			status = "okay";
		};
	};
	hid_kbd0: hid_kbd0 {
		compatible = "zephyr,hid-device";
		interface-name = "HID0";
		protocol-code = "keyboard";
		in-report-size = <64>;
		in-polling-period-us = <125>;
		out-report-size = <64>;
		out-polling-period-us = <125>;
		status = "okay";
	};
};