/ {
    aliases {
	    led-alive = &led;
        i2c-temp = &tmp102;
    };
};

&i2c1 {
    tmp102: tmp102@48 {
        label = "tmp102";
        compatible = "ti,tmp102";
        reg = < 0x48 >;
        status = "okay";
    };
};