# SPDX-License-Identifier: Apache-2.0

mainmenu "Temp Relay"

menu "Application"

config COMMS_STACK_SIZE
	int "Comms thread stack size"
	default 500
	help
	  This will be passed to thread creation in init.

config COMMS_PRIORITY
	int "Comms thread priority"
	default 5
	help
	  See CONFIG_NUM_COOP_PRIORITIES / CONFIG_NUM_PREEMPT_PRIORITIES.

config COMMS_LOG_LEVEL
	int "Comms thread log level"
	depends on LOG
	default 0
	help
	  Log levels: OFF(0), ERR(1), WRN(2), INF(3), DBG(4).

config COMMS_ALIVE_LOG_PERIOD_MS
	int "Comms thread alive log message period in millis"
	default 5000
	help
	  This is used to set the alive log ticking.

config INFO_STACK_SIZE
	int "Info thread stack size"
	default 500
	help
	  This will be passed to thread creation in init.

config INFO_PRIORITY
	int "Info thread priority"
	default 5
	help
	  See CONFIG_NUM_COOP_PRIORITIES / CONFIG_NUM_PREEMPT_PRIORITIES.

config INFO_LOG_LEVEL
	int "Info thread log level"
	depends on LOG
	default 0
	help
	  Log levels: OFF(0), ERR(1), WRN(2), INF(3), DBG(4).

config INFO_ALIVE_LED_PERIOD_MS
	int "Info thread alive led blinking period in millis"
	default 1000
	help
	  This is used to set the alive LED blinking.

config INFO_ALIVE_LOG_PERIOD_MS
	int "Info thread alive log message period in millis"
	default 5000
	help
	  This is used to set the alive log ticking.

config MONITOR_STACK_SIZE
	int "Monitor thread stack size"
	default 500
	help
	  This will be passed to thread creation in init.

config MONITOR_PRIORITY
	int "Monitor thread priority"
	default 5
	help
	  See CONFIG_NUM_COOP_PRIORITIES / CONFIG_NUM_PREEMPT_PRIORITIES.

config MONITOR_LOG_LEVEL
	int "Monitor thread log level"
	depends on LOG
	default 0
	help
	  Log levels: OFF(0), ERR(1), WRN(2), INF(3), DBG(4).

config MONITOR_ALIVE_LOG_PERIOD_MS
	int "Monitor thread alive log message period in millis"
	default 1000
	help
	  This is used to set the alive log ticking.

endmenu

source "Kconfig.zephyr"