/ {
    aliases {
	    led-alive = &led_gpio22;
        alt-temp = &tmp102_alt;
        i2c-temp = &tmp102_i2c;
    };
    leds {
		compatible = "gpio-leds";
		led_gpio22: led_gpio22 {
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
		};
	};
    alts {
        compatible = "gpio-keys";
        tmp102_alt: tmp102_alt {
            gpios = < &gpio0 28 GPIO_ACTIVE_HIGH >;
        };
    };
};

&i2c0 {
    tmp102_i2c: tmp102_i2c@48 {
        compatible = "ti,tmp102";
        reg = < 0x48 >;
        status = "okay";
    };
};