# SPDX-License-Identifier: Apache-2.0

mainmenu "Keebz"

menu "Application"

config KEEBZ_USB_HID_LOG_LEVEL
	int "Keebz USB HID thread log level"
	depends on LOG
	default 0
	help
	  Log levels: OFF(0), ERR(1), WRN(2), INF(3), DBG(4).

config KEEBZ_USB_DEV_LOG_LEVEL
	int "Keebz USB device thread log level"
	depends on LOG
	default 0
	help
	  Log levels: OFF(0), ERR(1), WRN(2), INF(3), DBG(4).

endmenu

source "Kconfig.zephyr"